@media only screen and (min-width: 768px){
    .container {
        display: flex;
        justify-content: center;
        margin:auto;
        width: auto;
    }
    .subcontainer {
      width: auto;  
    }
    .aboutMe {
      width: auto;
    }
    .myCV {
      width: auto ;
    }
    .contact {
      width: auto;
    }
    .myName {
      font-family: 'Montserrat';
      font-size: 40px;
      color: darkslategrey;
      border: solid 2px pink;
    }
    .subcontainer {
      display: flex;
      align-content: space-between;
      border: 2px solid white;
      position: absolute;
      top: 35%;
      width: 90%;
      }
}


@media only screen and (min-width: 1200px){
    .container {
        display: flex;
        justify-content: center;
        margin:auto;
        width: 90%;
    }
    .subcontainer {
      width: auto;  
    }
    .aboutMe {
      width: auto;
    }
    .myCV {
      width: auto ;
    }
    .contact {
      width: auto;
    }
    .myName {
      font-family: 'Montserrat';
      font-size: 40px;
      color: darkslategrey;
      border: solid 2px pink;
    }
    .subcontainer {
      display: flex;
      align-content: space-between;
      position: absolute;
      top: 35%;
      width: 90%;
      }
  }


.container {
  display: flex;
  width: 100%;
}
.subcontainer {
  display: flex;
  align-content: space-between;
  border: 2px solid white;
  position: absolute;
  top: 60%;
  width: 90%;
  }


.myName {
  font-family: 'Montserrat';
  color: darkslategrey;
  border: solid 2px pink;
}

h2 {
    font-family: 'Montserrat';
    font-size: 40px;
    text-align: center;
}
h2.aboutMe {
  color:rgb(227, 246, 173)
}

h2.myCV{
  color:rgb(236, 192, 236);
}

h2.contact{
  color:rgb(199, 252, 252);
}
h3 {
    font-family: 'Montserrat';
    font-size: 20px;
}

p {
  font-family: 'Montserrat';
  font-weight: 700;
}

#game {
  transition-property: font-size;
  transition-duration: 1s;
}
#game:link {
  color: rgb(66, 2, 66);
}

#game:active, #game:hover, #game:focus {
  color: orange;
  font-size: larger;
  }

#game:visited {
  color: purple;
}

#inputName, #inputEmail, #inputText {
  border: 2px solid rgb(28, 121, 128);
  border-radius: 6px;
  width: fit-content;
}

#aboutMe1 {
  width: 30%;
  min-width: 100px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 4px;
  background-color: rgb(82, 172, 82);
  }

#aboutMe2 {  
  width: auto;
  content-visibility: hidden;
  padding: 20px;
  margin: 4px;
  border-radius: 5px;
  background-color: rgb(227, 246, 173);
}
#aboutMe2:hover {
  height: fit-content;
  content-visibility: unset;
}
#myCV1 {
  width: 30%;
  min-width: 100px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 4px;
  background-color: purple;
      }
    
#myCV2 {  
  width: auto;
  padding: 20px;
  margin: 4px;
  border-radius: 5px;
  content-visibility: hidden;
  background-color: plum;
      }

#myCV2:hover {
  height: fit-content;
  content-visibility: unset;
}

#contact1 {
  width: 30%;
  min-width: 100px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 4px;
  background-color: rgb(34, 170, 170);
}
  
#contact2 {  
  width: auto;
  padding: 20px;
  margin: 4px;
  border-radius: 5px;
  background-color: rgb(199, 252, 252);
  content-visibility: hidden;
}

#contact2:hover {
  height: fit-content;
  content-visibility: unset;
}

::placeholder {
  font-family: 'Montserrat';
}